.openForm {
  border: 1px solid #f00;
  // animation: exitTest .3s forwards;

}

.openForm-enter {
  border: 1px solid #0f0;
}

.openForm-enter-active {
  animation: openTest 2s forwards;
}
// forwards

.testCss-enter {
  background-color: red;
}
.openForm-exit {
}

.openForm-exit-active {
  animation: exitTest 1s forwards;
}
// forwards

@keyframes openTest {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
    background-color: green;
  }
  100% {
    transform: scale(1);
    background-color: #fff;
  }
}
@keyframes exitTest {
  0% {
    transform: scale(1);
    background-color: #fff;
  }
  100% {
    opacity: 0;
    // transform: translateY(20px) scale(0.98);
    background-color: blue;
  }
}

@keyframes openSubmit {
  0% {
    // opacity: 0;
    // transform: translateY(-20px);
    background-color: blue;
  }
  50% {
    // opacity: 0.8;
  }
  100% {
    // opacity: 1;
    // transform: translateY(0px);
    background-color: purple;
  }
}

@keyframes closeMenu {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
