.tool_item {
  position: relative;
  overflow: hidden;
  .imgBox {
    max-height: 192px;
    overflow: hidden;
    > img {
      width: 100%; height: 100%;
    }
  }

  .shopIcon {
    position: absolute;
    top: 162px;
    left: 10px;
    width: 60px; height: 60px;
    color: #718096;
    border-radius: 50%;
    border-bottom-width: 2px;
    border-color:#a0aec0a1;
    overflow: hidden;
    > img {
      width: 100%; height: 100%;
    }
  }

  .txtBox {
    padding: 50px 16px 0;
    height: 218px;
    // border: 1px solid #f00;
    .title {
      margin-bottom: 10px;
      color: #2d3748;
    }
    .explain {
      
    }
    // position: relative;
    
    .bottomBox {
      position: absolute;
      left: 0;
      bottom: 0;
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      width: 100%;
      padding: 16px;

      font-size: 12px;
      
      >div{

      }
      .tag {
        >div {
          padding: 8px 10px;
          border-bottom-width: 2px;
          border-radius: 6px;
          border-color: #2d3748;
          color: #2d3748;
        }
      }

      .byName {
        
      }
    }
  }
}
